:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
 
  body {
    overflow: hidden;
  }

  .bg-image {
    position: absolute;
    opacity: 0.01;
    filter: hue-rotate(180deg); 
    animation: rotate 40s linear infinite;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5), inset 0px 100px 200rem rgba(0, 0, 0, 0.5);
  }

  .w2 {
    height: 50rem;
    width: 50rem;
    bottom: -20rem;
    left: -20rem;
  }

  .w1 {
    top: -60rem;
    right: -20rem;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  

  .card-container {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card-content {
    height: 40rem;
    width: 50rem;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5), inset 0px 100px 200rem rgba(0, 0, 0, 0.5);
    background-color: #485FA5;
    display: flex;
    border-radius: 1rem;
  }
  


  /* DESIGN */ 
  .design {
    background-color: #000000;
    flex-grow: 2;
    background-image: url('./knight.jpg'); /* specify the path to your image */
    background-size: cover; /* adjust the size of the background image */
    background-position: center; /* position the background image */
    box-shadow: 
    inset 0 0 20px #f19e03, /* First box shadow */
    0px 0px 10px rgba(0, 0, 0, 0.5), /* Second box shadow */
    0px 0px 10px rgba(0, 0, 0, 0.5); /* Third box shadow */
    animation: AnimationName 4s ease infinite forwards;
  }

  @keyframes AnimationName { 
    0%{
      box-shadow: 
      inset 0 0 20px #f19e03, /* First box shadow */
      0px 0px 10px rgba(0, 0, 0, 0.5), /* Second box shadow */
      0px 0px 10px rgba(0, 0, 0, 0.5); /* Third box shadow */

    }
    50% {
      box-shadow: 
      inset 2px 2px 20px #f19e03, /* First box shadow */
      0px 0px 50px rgba(0, 0, 0, 0.5), /* Second box shadow */
      0px 0px 10px rgba(0, 0, 0, 0.5); /* Third box shadow */
    }
  
    100% {
      
        box-shadow: 
        inset 0 0 20px #f19e03, /* First box shadow */
        0px 0px 10px rgba(0, 0, 0, 0.5), /* Second box shadow */
        0px 0px 10px rgba(0, 0, 0, 0.5); /* Third box shadow */
  
      
    }

    
  }
  

  

  /*NAV*/
  
  .switch {
    display: flex;
    gap: 20px;
    
  }

  .switch .selected::after {
    transform: scale(1);
    background-color: #f19e03; /* Change to your desired color on hover */
  }

  .switch p {
    font-weight: 500;
    
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
  }

  .switch p:hover {
    cursor: pointer;
    color: #f19e03;
  }

  .switch p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 100%;
    background-color: transparent;
    transition: opacity 300ms, transform 300ms, background-color 300ms;
  }
  
  .switch p:hover::after {
    background-color: #f19e03; /* Change to your desired color on hover */
  }

  .switch p:hover::after,
  .switch p:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  .switch p::after {
    transform: scale(0);
  }

  .switch p:hover::after,
  .switch p:focus::after {
    transform: scale(1);
  }

  /*INPUTS*/
  #clan, #kingdom {
    appearance: none; /* Remove default appearance */
    border-radius: 1cap;
    border-radius: 10px;  
    background-color: rgb(241, 235, 235);
    padding: 10px; /* Add padding for better appearance */
    border:solid 1px #ccc;
    width: 110%; /* Make it full width */
    color: black;

    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" width="12" height="12"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
  

  }

  .user-input {
    min-width: 432px;
    max-width: 432px;
    flex-grow: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .Sign-in-form input:not(.submit), .Sign-up-form input:not(.submit){
    color: black;
    border-radius: 1cap;
    background-color: rgb(241, 235, 235);
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;  
    padding: 10px;
  }

  /*Sign In Form*/

  .Sign-in-form {
    width: 50%;
    display: none;
  }

  
  

  /*Sign Up Form */

  .Sign-up-form {
    width: 50%;
    display: block;
  }

  .Sign-up-form label {
  }

  .Sign-up-form form {
    display: flex;
    flex-direction: column;
  }

  .Sign-up-form #password, .Sign-up-form #confirmPassword, 
   .Sign-in-form #confirmPassword {
    margin-top: -35px; /* Add margin between each input */
  }

  #k-label, #c-label {
    margin-top: -45px; /* Add margin between each input */
    margin-bottom: 5px;

  }
  
  

  .Sign-up-form #Fname, .Sign-up-form #Lname {
    width: 100%;
  }
  #username, #password, #confirmPassword {
    width: 110%;
    
  }


  

  /*Button*/

  .submit {
    background-color: #f19e03;
    height: 2rem;
    border-radius: 5rem;
    width: 100%;
    margin: 0 5%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border: 0;
    transition: transform 400ms;
  }

  .submit:hover {
    cursor: pointer;
    background-color: #f19e03c7;
    transform: translateY(2px);
  }
  
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
